*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background: #c5daeb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #c5daeb, #E0E0E0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,#c5daeb ,#E0E0E0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    border: 0;
}

hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #8e9eab, #333, #8e9eab);
}