
*::-webkit-scrollbar {
  display: none;
}

html body {
  display: block;
  width: 100%;
}

a:visited {
  color: #4a4a4a;
}

a:visited:hover {
  color: #585858;
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  font-size: 1.5rem;
  color: #333;
  background-color: #e0e0e0;
}

main > * {
  margin: 1rem;
}

h2 > span {
  color: #f50057;
}

.user-meta-data > img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 9999px;
}

.user-meta-data > * {
  margin: 1rem;
  filter: drop-shadow(1rem 1rem 1.5rem #00000040);
}

.card-container {
  background: #cccccc;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/*.flex-row {*/
/*  display: flex;*/
/*}*/

.user-meta-data {
  border-radius: 20px;
  width: 80%;
  /*border: red 1px solid;*/
  align-items: center;
}

.progress {
  padding-left: 1rem;
  width: 80%;
  border-radius: 20px;
  height: 100%;
}

.progress-items {
  display: flex;
}

li {
  list-style-type: none;
}

.progress-item {
  border: #1a1a1a 1px solid;
  border-radius: 20px;
  margin-right: 0.75rem;
  font-size: 1.05rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
  transition: color;
  transition-duration: 0.1s;
}

.progress-item:hover {
  background: #000;
  color: #fff;
}

form input {
  @apply w-full rounded-md p-2 outline-none bg-white/40;
}

input a {
  color: blue;
}